.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  align-items: center;
}

.App > p {
  font-size: 1.3rem;
}

.Clicker {
  border: 2px solid black;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.Clicker > h4 {
  color:black;
}

.Clicker > p {
  color:#333;
  margin: 1rem;
  font-size: 1rem;
}

.Clicker > p > span {
  font-weight: bold;
}

.btn {
  margin: 2px;
  width: 3rem;
  height: 3rem;
  border: 1px solid blck;
  border-radius: 50%;
}

.btn-click {
  background-color: rgba(20, 80, 250, 0.6);  
}

.btn-lvl {
  color: black;
  background-color: rgba(90,250,90,0.7);
}

.btn-lvl.disabled {
  color: black;
  pointer-events: none;
  border: 1px solid lightgrey;
  background-color: rgba(80,80,80,0.2);
}

.btn-auto.disabled {
  color: black;
  pointer-events: none;
  border: 1px solid lightgrey;
  background-color: rgba(80,80,80,0.2);
}