.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 1rem;
  align-items: center;
}

.App > p {
  font-size: 1.2rem;
}

.Clicker {
  border: 2px solid black;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.Clicker > h4 {
  color:black;
}

.Clicker > p {
  color:#555;
  margin: 1rem;
}

button {
  margin: 2px;
  padding: 2px 5px;
}

.btn-lvl {
  color: green;
}

/*
.disabled {
  color: red;
  pointer-events: none;
}
*/

.btn-lvl.disabled {
  color: red;
  pointer-events: none;
}